/****************************/
/*      CUSTOM COLORS       */
/****************************/
$color-primary: #000;
$color-secondary: #ad9b62;
$color-secondary-dark: #917D3A;
$color-light: #f8f9fa;


$theme-colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "secondary-dark": $color-secondary-dark,
    "light": $color-light
);



/****************************/
/*      CUSTOM TYPOGRAPHY       */
/****************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
$font-family-base: "Poppins", sans-serif;

body{
    font-family: $font-family-base;
}



/****************************/
    /*      NAV       */
/****************************/
$nav-link-padding-x: 0.8rem;
